
<div class="col col-12 col-lg-6">
  <a href="/articles/<%=a._id%>">
    <div class="card home-card">
      <img class="card-img-top" src="images/sample-img.png" alt="Card image cap">
      <div class="card-body">

        <a href="/articles/<%=a._id%>">
          <h5 class="card-title"> <%=a.title.substring(0, 100)%> </h5>
        </a>
        <p>
          <% if (a.subtitle){%>
              <%=a.subtitle.substring(0, 42) + "..."%>

          <% } %>
        </p>
      </div>
    </div>
  </a>
</div>
