<br />
<div id="footer">
  <br />
  <div class="footer-newsletter">
    <form class="" action="/subscribe-newsletter" method="post">
      <input type="hidden" name="pageLink" value=<%=pageLink%>>
      <label for="email"><h4>Join our newsletter:</h4></label><br />
      <input type="text" name="email" value="" size="30" class="text-newsletter" placeholder="hello@example.com" autocomplete="off">
      <button type="submit" name="button" class="btn btn-red btn-newsletter">Subscribe</button>
    </form>
  </div>
  <br /><br /><br />
  <h2 class="footer-text">CONTACT US</h2>
  <a href="mailto:offlocustmag@gmail.com"><i class="fa fa-envelope-square"></i></a>
  <a target="blank" href="https://twitter.com/OFFLOCUST"><i class="fa fa-twitter-square"></i></a>
  <a target="blank" href="https://www.facebook.com/offlocustmag/"><i class="fa fa-facebook-square"></i></a>
  <a target="blank" href="https://www.instagram.com/offlocustmag/"><i class="fa fa-instagram"></i></a>


  <div class="footer-links">
    <a href="/"> HOME </a><p> | </p>
    <a href="/exposed"> #EXPOSED </a><p> | </p>
    <a href="/confessionals"> CONFESSIONALS </a><p> | </p>
    <a href="/avant-garde"> AVANT-GARDE </a><p> | </p>
    <a href="/after-hours"> AFTER HOURS </a><p> | </p>
    <a href="/after-hours"> ASK OFF LOCUST </a><p> | </p>
    <a href="/ask-off-locust"> VIDEOS </a>
  </div>

</div>
</div>

<!-- Font awesome -->
  <script src="https://use.fontawesome.com/53d26e2366.js"></script>

<!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
