<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="images/off-locust-logo.png">

  <!-- Font Awesome -->

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=swap" rel="stylesheet">
  <!-- <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/cmu-serif" type="text/css" /> -->
  <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Special+Elite&display=swap" rel="stylesheet">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles.css">

  <script data-ad-client="ca-pub-3532089853220505" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

  <title>Off Locust</title>
  <% var title = (typeof article !== 'undefined') ? article.title: "Off Locust";%>
  <% var image = (typeof article !== 'undefined') ? article.img : "images/off-locust-logo.png" %>
  <meta property="og:title" content="<%= title %>" />
  <meta property="og:image" content="<%= image %>" />

</head>

<body>
  <div id="main">

    <div id="navbar">
      <nav class="navbar navbar-expand-lg navbar-dark ol-navbar">
        <a class="navbar-brand" href="/">
          <img id="navbar-logo" src="/images/off-locust-logo.png" alt="off-locust-logo">
        </a>
        <a class="navbar-brand" href="/">
          <h1>Off Locust</h1>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <div class="nav-link-container">
              <li class="nav-item active">
                <a class="nav-link" href="/exposed"><i class="asterisk">#</i>EXPOSED <span class="sr-only">(current)</span></a>
              </li>
            </div>

            <li class="nav-item active">
              <a class="nav-link" href="/confessionals">CONFESSIONALS <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/avant-garde">AVANT-GARDE <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/after-hours">AFTER HOURS <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/ask-off-locust">ASK OFF LOCUST <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/videos">VIDEOS <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
