<%- include("partials/header"); -%>

<div id="apply">

<h2 class="section-title">Interested in joining our team?</h2>
<a type="submit" href="https://docs.google.com/forms/u/0/d/1rqN_cRv1J8kzlFdgJm6hJHkX1xWS5EAfiboVTUdXPRM/viewform?edit_requested=true" class="btn btn-red">Apply Now</a>

</div>


<%- include("partials/footer", {pageLink:"/apply"}); -%>
