<%- include("partials/header"); -%>

<h2 class="section-title">Ask Off Locust</h2>

<br>
<div class="container">
  <div class="row">
    <div id="ask-form" class="col col-lg-7 col-md-9 col-sm-11 col-xs11">


<form action="/question" method="post" >
  <p>Here at Off Locust, as much as we’d like to hope we’ve covered everything, we know there are some topics that have gone unaddressed. Have anything you’re dying to know? Submit a question here and we’ll address all your secret desires:</p>
  <textarea class="form-control" name="qBody" rows="5" cols="15" placeholder="Contact us here..."></textarea>
  <div class="ask-button">
    <button type="submit" name="button" class="btn btn-red">Submit your question</button>
    </div>
</form>
</div>
</div>
</div>

<div id="card-row" class="container">
  <div class="row">
    <% articles.reverse()%>
    <%  articles.forEach(function(a){ %>
        <%- include("./partials/card", {articles:articles, a:a}); %>
    <% }) %>

  </div>
</div>

<%- include("partials/footer"); -%>
