<%- include("./partials/header"); -%>

<h2 class="section-title"><%=authorName%></h2>

<div id="featured-row" class="container">
  <div class="row">

    <%  articles.forEach(function(a){ %>
        <%- include("./partials/card", {articles:articles, a:a}); %>
    <% }) %>

  </div>
</div>
<%- include("partials/footer"); -%>
