<%- include("partials/header"); -%>

<h2 class="section-title">CONFESSIONALS</h2>

<div id="card-row" class="container">
  <div class="row">
    <% articles.reverse()%>
    <%  articles.forEach(function(a){ %>
        <%- include("./partials/card", {articles:articles, a:a}); %>
    <% }) %>

  </div>
</div>

<%- include("partials/footer", {pageLink:"/confessionals"}); -%>
