<%- include("./partials/header"); -%>
<h2 class="section-title">Edit Article</h2>

<form class="" action="/edit-article" method="post">

<button type="submit" name="button" class="btn btn-red"></button>
</form>

<%- include("./partials/footer"); -%>
