<%- include("partials/header"); -%>

<div id="success">

<h2 class="section-title">Sorry, your subscription was unsuccessful. Please try again or contact offlocustmag@gmail.com!</h2>

<br />
<div class="read-more-div">

<a href="<%= pageLink %>">
  <i class="fa fa-arrow-circle-left"></i>

    <h6>Back</h6>

</a>
</div>
</div>


<%- include("partials/footer", {pageLink:"/ask-off-locust"}); -%>
