<%- include("./partials/header"); -%>

<h2 class="section-title">FEATURED</h2>

<div id="featured-row" class="container">
  <div class="row">

    <%  articles.forEach(function(a){ %>
        <%- include("./partials/featured-card", {articles:articles, a:a}); %>
    <% }) %>

  </div>
</div>


<h2 class="section-title">ABOUT</h2>

<div id="about-container" class="container">
  <div class="row">
    <div class="col col-lg-4 col-sm-12 col-xs-12">
      <img id="about-img" src="images/off-locust-logo.png" alt="off-locust-logo">
    </div>
    <div class="col col-lg-8 col-sm-12 col-xs-12">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
        irure dolor in reprehenderit in voluptate velit.

      </p>
    </div>

  </div>
</div>


<%- include("./partials/footer"); -%>
