<%- include("./partials/header"); -%>

<h2 class="section-title">FEATURED</h2>

<div id="card-row" class="container">
  <div class="row">
    <% articles.reverse()%>
    <%  articles.forEach(function(a){ %>
    <%- include("./partials/card", {articles:articles, a:a}); %>
    <% }) %>

  </div>
</div>


<h2 class="section-title">ABOUT</h2>

<div id="about-container" class="container">
    <div id="about-img-div">
      <img id="about-img" src="images/off-locust-logo.png" alt="off-locust-logo">
    </div>
    <div id="about-text">
      <p> So, you’ve somehow stumbled upon Off Locust. We have a feeling you may be wondering what the f*ck is going on….or you’re ready for a change. Either way, you’ve come to the right place.<br /><br />

        Every morning as you go through your inboxes of random Penn newsletters or scroll through your social media feeds, you’re met with the same-old campus updates. We’ve seen the Commons BYO, we’ve tried the CBD craze, and the 5-minute dorm ab
        workout really didn’t do much for us. <br /><br />

        Is this really the content you’re taking 5-10 minutes out of your day to read? Or is there something more that you want from campus publications than your run of the mill coffee shop roundup for the 4th time this week? <br /><br />

        All this while we’ve been sitting here wondering if it’s normal to feel closed in even though campus is so big, debating whether we even picked the right major, or wondering if sleeping with 5 guys in the first week of school makes you
        “slutty” (hint: never). But most importantly, we really want to know how we’re going to make these next four years the best of our lives.<br /><br />

        Thus, Off Locust was born.<br /><br />

        It’s about goddamn time that someone published the content that Penn students desire, written by Penn students themselves. So, with the help of some of our friends (Thank you Shea Furgus for the beautiful logo and to Olivia O'Dwyer for being
        our extremely talented webmaster), we decided to take it upon ourselves to answer all your dying questions about what college–and specifically Penn–is when class is over for the day, when you’re on your way home, and when you’re...well... Off
        Locust.<br /><br />

        But don’t worry. This isn’t going to be the next campus gossip column or anything. After all, journalism is about the truth. We are here to provide you with all the content that we know you actually want to hear, from the highs and the lows,
        to the highs and the blows. and our anonymous writers are ready to share it with you.<br /><br />

        So what can you expect from Off Locust? Well, we’ve taken the liberty to divide this campus into its five major sections:<br />
        <p />


        <ul>


          <li>#exposed<br />

            Forget all the Hurrah Hurrah bullshit: we know that Penn isn’t exactly the most perfect place, and it’s time that you all know the truth that seems to be hidden by the faculty, organizations, and even other students on campus. If your
            favorite teacher was caught in a sex scandal, curious whether you should go watch the latest Mask & Wig show, or wondering just how f*cked up the institutions of this campus can get--we’re here to show you exactly what’s happening behind
            closed doors.</li>

          <li>

            Confessionals:<br>
            College life can be a lot of fun, but it can also be pretty daunting. From combating mental health issues to Penn Face, we all can relate with feeling pretty shitty at times. But at Off Locust, we’re here to support our readers and are
            going to use this platform to do so. After all, how can we look out for one another when topics such as sexual violence and drug addiction seemed to be censored or deemed too intense to write about? </li>

          <li>Ask Off Locust <br>
            You didn’t think we’d publish a magazine as the voice of this campus without hearing from you guys? We know you guys have some deep, dark desires in your brains, so whether it's a tip or two for the bedroom, or how to cut out that toxic
            friend from your life, Off Locust will provide you with the answers that you may not want to hear, but definitely need to.</li>

          <li>Avant-Garde <br>
            As much as we are here for getting down and dirty in all things Penn, we also want to make sure that you are staying up to date with the best of the best on campus as well. So whether it’s a brutally honest review of the latest cafe
            opening on campus, or the newest bangers to hit the airwaves, Off Locust is here to keep you culturally updated.</li>

          <li>After Hours <br>
            We’ve all seen the references to Penn being known as the “Social Ivy” but what exactly is it about Penn that gives it that reputation? We’re ready to shine a light on the most insane aspects of Penn’s party culture, the drugs, the sex,
            and everything that goes on behind your bedroom door. Because at the end of the day, we love a good darty just as much as you do.
            So buckle up, pour yourself a glass, and get ready for this absolute shitshow.</li>

        </ul>

        <p>Catch ya Off Locust xx </p><br /><br />
      </div>
</div>


<%- include("./partials/footer"); -%>
