<%- include("./partials/header"); -%>


<form class="" action="/set-password" method="post">
  <input type="text" name="password" value="">
  <button type="submit" name="">Confirm</button>
</form>
<%- include("partials/footer"); -%>
