<%- include("partials/header"); -%>

<h2 class="section-title">VIDEOS</h2>

<div id="card-row" class="container">
  <div class="row">
    <% videos.reverse() %>
    <%  videos.forEach(function(v){ %>
        <%- include("./partials/video-card", {videos:videos, v:v}); %>
    <% }) %>

  </div>
</div>

<%- include("partials/footer", {pageLink:"/videos"}); -%>
