@font-face{
  src: url(fonts/Granaina-Limpia-Font.ttf);
  font-family:nos;
}

#main{
  /* background-color: rgb(20, 20, 20); */
  /* background-color: #262626; */
  background-color: white;
  color:#262626;
  /* font-family: 'Barlow Condensed', sans-serif; */
  font-family: nos;
}

p {
   /* font-family: serif; */
   font-weight: normal;
   font-style: normal;
   font-size: 1.5em;
}

#about-container ul {
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;
}

input, select, textarea{
  font-family:sans-serif;
}
/* form p{
  font-family:sans-serif;
} */


/* Navbar  */
#navbar{
  padding-top:10px;
  /* color:black; */
  /* background-color: white; */
  background-color: #262626;
  color: white;
  /* margin-bottom: 60px; */
}
#navbar-logo{
  width:80px;

}

#navbar .navbar-brand {
  color: white;
}

/* .nav-link {
  color: white;
} */
#navbar .nav-link{
  /* font-family: nos; */
  font-size:1.5em;
  padding-right:30px;
  transition:color .15s ease-out;
  color: white;
}
#navbar .nav-link:hover{
  color:#c91d14;
  /* or gray */
}


/* Home */
.section-title{
  text-align: center;
  /* font-family: 'Barlow Condensed', sans-serif; */
  font-size:3em;
  margin-top:60px;
}

/* Home cards */
#featured-row{
  margin-bottom: 100px;
  margin-top:40px;
}
.row .home-card{
  max-width:600px;
  /* margin: 0 10px; */
  color:black;
  /* font-family: 'Barlow Condensed', sans-serif; */
  border:none;
  border-radius: 7px;
}
.card-title{
  font-size:1.9em;
  line-height: 1;
  /* display: inline; */
  /* float: left; */
}
.card-text{
  /* font-family:sans-serif; */
}
.card-img-top{
  max-height:340px;
  border-radius: 5px 5px 0 0;

}
#featured-row .row .col{
  padding:40px;
}
.card-body{
  padding-bottom: 5px;
  background-color:#e3e3e3;
  border-radius:0 0 5px 5px;
  height:125px;
}
a h5{
  color:black;
  /* font-size: 1em; */
}

.card-body a:hover{
  text-decoration-color: black;
}

/* Home - about */
#about-img{
  max-width:300px;
}
#about-container{
  margin-top:50px;
}
#about-container .col {
  margin-bottom:50px;
  padding-right: 35px;
  padding-left: 35px;

}


/* Ask Off Locust */
#ask-form{
  margin:auto;
}
#ask-form h3{
  padding:15px;
}

.btn-red{
  border:2px solid #c91d14;
  color: #c91d14;
  margin:15px 5px;
}

#ask-form .btn:hover{
  background-color: #c91d14;
  color:white;
}

/* Article page */
.art-img-container{
  margin-top:0;
}
.art-img{
  width:100%;
  max-height:500px;
  object-fit: cover;
}
.art-body{
  margin:0 auto;
}
.author-div{
  margin: auto;
  width:100%;
  text-align: center;
  min-height:70px;
  padding-top:0px;
  padding-bottom:20px;

}
.author-div a{
  text-decoration: underline;
  color:white;
  transition:color .1s ease-out;
}
.author-div a:hover{
  color: #c91d14;
}
.author-div h3{
  font-style: italic;
  /* font-family: 'CMUSerifRoman', serif; */
  display: inline;
  font-size: 1.5em;
}
.author-div p{
  display: inline;
  font-size: 1em;
}
.author-div .col{
  padding:0;
}
.row .art-author{
  text-align: right;
  padding-top: 13px;
}
.row .art-date{
  text-align: left;
  padding-top: 13px;
}
#art-title-container{
  padding-bottom:60px;
}
.title-div{
  text-align: center;
  margin:auto;
}
.art-subtitle{
  font-size: 2em;
  /* font-family: 'CMUSerifRoman', serif; */
  padding-top:10px;
}
.art-title{
  /* font-family: 'Barlow Condensed', sans-serif; */
  font-size:3.2em;
  margin-top:70px;
}
.art-body p{
  font-size: 1.45em;
}
.art-body a{
  color:black;
  text-align: left;
}
.read-more-div h6{
  font-size: 1.35em;
  display:inline;
  transition:color .1s ease-out;
  /* font-family: 'Barlow Condensed', sans-serif; */
}
.read-more-div i{
  font-size: 1.35em;

  display:inline;
  transition:color .1s ease-out;
  padding: 10px;
}

.read-more-div a:hover{
  text-decoration: none;
  color: #c91d14;
}


/* Footer */
#footer{
  /* background-color: white;
  color:black; */
  background-color: #262626;
  color: white;
  /* font-family: nos; */
  text-align: center;
  padding:40px;
  margin-top:80px;
  width:100%;
}
#footer p {
  display: inline;
  padding: 0 10px;
  font-size: 1.8em;
}
#footer a{
  /* color:black; */
  color: white;
  font-size: 1.2em;

}
.footer-links{
  margin-top:20px;
}
#footer .fa{
  font-size:3.2em;
  margin:0 9px 30px 9px;
  transition:color .1s ease-out;

}
#footer .fa:hover{
  color:#c91d14;
}

/* Standard cards */
#card-col{

}
#card-row{
  margin:auto;
  padding-top: 60px;
}
.row .standard-card{
  max-width:600px;
  /* margin: 0 10px; */
  color:black;
  /* font-family: 'Barlow Condensed', sans-serif; */
  border:none;
  border-radius: 7px;
  margin-bottom:35px;
}

/* Compose page */
#compose{
  margin:auto 10%;
}
#compose form{
  margin-top:50px;
  margin-bottom:50px;

}
#compose-form input{
  margin-bottom: 10px;
  font-family:sans-serif;
}
/* Edit Article page */
#edit-container .col{
  margin-bottom:27px;
  margin-right:0;
}
#edit-container{
  margin-top:50px;
}
#edit-container form{
  display: contents;
}
#compose .edit-form{
  margin-top:2px;
  margin-bottom:0;
}
