@font-face{
  src: url(fonts/Granaina-Limpia-Font.ttf);
  font-family:nos;
}

body{
  background-color: black;
  color:white;
}

p {
   font-family: 'CMUSerifRoman', serif;
   font-weight: normal;
   font-style: normal;
   font-size: 1.5em;
}

/* Navbar  */
#navbar{
  padding-top:10px;
  color:black;
  background-color: white;
  margin-bottom: 60px;
}
#navbar-logo{
  width:80px;

}
#navbar .nav-link{
  font-family: nos;
  font-size:1.5em;
  padding-right:30px;
  transition:color .15s ease-out;

}
#navbar .nav-link:hover{
  color:#c91d14;
  /* or gray */
}


/* Home */
.section-title{
  text-align: center;
  font-family: 'Barlow Condensed', sans-serif;
  font-size:3em;
}

/* Home cards */
.container{
  margin-bottom: 100px;
}
.row .home-card{
  max-width:600px;
  /* margin: 0 10px; */
  color:black;
  font-family: 'Barlow Condensed', sans-serif;
  border:none;
  border-radius: 7px;
}
.card-title{
  font-size:2.2em;
}
.card-text{
  font-family:sans-serif;
}
.card-img-top{
  max-height:340px;
  border-radius: 5px 5px 0 0;

}
.row .col{
  padding:40px;
}
.card-body{
  padding-bottom: 5px;
  background-color:#d1d1d1;
  border-radius:0 0 5px 5px;
  min-height:125px;
}
/* .a{
  text-decoration-color: black;

} */

/* Home - about */
#about-img{
  max-width:300px;
}

/* Footer */
#footer{
  background-color: white;
  color:black;
  font-family: nos;
  text-align: center;
  padding:40px;
  margin-top:80px;
  width:100%;
}
#footer p {
  display: inline;
  padding: 0 10px;
  font-size: 1.8em;
}
#footer a{
  color:black;
  font-size: 1.2em;

}
.footer-links{
  margin-top:20px;
}
#footer .fa{
  font-size:3.2em;
  margin:0 9px 30px 9px;
  transition:color .1s ease-out;

}
#footer .fa:hover{
  color:#c91d14;
}
